---
layout: default
---
<a href="#sidebar" class="mobilemenu"><i class="icon-reorder"></i></a>
<!-- Side Bar (Left) -->
<div id="sidebar"> 
    <div id="main-nav">
        <div id="nav-container">
            <div id="profile" class="clearfix">
                <div class="portrate hidden-xs"></div>
                <div class="title">
                    <h2>Yao Lu</h2>
                    <h3>University of Helsinki</h3>
                    <h3>yaolubrain@gmail.com</h3>
                </div>                            
            </div>
            <ul id="navigation">
                <li>
                    <a href="{{ "" | prepend: site.url }}">
                        <div class="icon icon-user"></div>
                        <div class="text">About Me</div>
                    </a>
                </li>
                <li>
                    <a href="{{ "/publications/" | prepend: site.url }}">
                        <div class="icon icon-book"></div>
                        <div class="text">Publications</div>
                    </a>
                </li>
                <li class="currentmenu">
                    <a href="{{ "/projects/" | prepend: site.url }}">
                        <div class="icon icon-rocket"></div>
                        <div class="text">Projects</div>
                    </a>
                </li>
                <li>
                    <a href="{{ "/blog/" | prepend: site.url }}">
                        <div class="icon icon-edit"></div>
                        <div class="text">Blog</div>
                    </a>
                </li>
            </ul>
        </div>        
    </div>
            
    <div class="social-icons">
        <ul>
            <li><a href="https://www.facebook.com/yao.lu.9883"><i class="icon-facebook"></i></a></li>
            <li><a href="http://www.weibo.com/yaolubrain"><i class="icon-weibo"></i></a></li>
            <li><a href="https://github.com/yaolubrain"><i class="icon-github"></i></a></li>
        </ul>
    </div>    
</div>

<div class="col-sm-12">
    <div class="page">
        <p>I am a master student of computer science in University of Helsinki, Finland.</p>
        <p>Research Interests: Unsupervised Learning. Deep Neural Networks. Computer Vision.</p>
	<br>
	<p><img src="{{ "/assets/images/email.png" | prepend: site.url }}" align="right" width="200px"></p>
    </div>
</div>

<div id="main">
    <div id="publications" class="page">
        <div class="page-container">
            <div class="pagecontents">        
                <!-- Paper List Body -->
                <div class="section color-2" id="pub-grid">
                    <div class="section-container">                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pitems">
                                    
                                    {% for post in site.posts %}
                                        {% if post.categories contains "project" %}
                                                                                
                                            <div class="item mix other">
                                                <div class="pubmain">
                                                    <!-- download & expand buttons -->
                                                    <div class="pubassets">
                                                        <a href="{{ post.link }}" class="tooltips" title="Download" target="_blank">
                                                            <i class="icon-cloud-download"></i>
                                                        </a>
                                                    </div>

                                                    <!-- paper info -->
                                                    <h4 class="pubtitle">{{ post.title }}</h4>
                                                    <div class="pubauthor">{{ post.author }}</div>
                                                    <div class="pubcite">{{ post.details }}</div>                                        
                                                </div>

                                                <!-- paper details -->
                                                <div class="pubdetails">                                            
                                                    {{ post.content }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}            
                                    
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>        
