<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} {% if page.title %} &mdash; {{ page.title }} {% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Loop and attach page tags from page meta section -->
        {% if page.tags %}
        <meta name="keywords" content="{{ page.tags }}">
        {% else %}
        <meta name="keywords" content="">
        {% endif %}
        <title>Yao Lu</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="owwwlab.com">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">            
        <link rel="shortcut icon" href="{{ "/img/brain.jpg" | prepend: site.url }}">

        <!--CSS styles-->
        <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.url }}">
     
        <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.url }}">  
        <link rel="stylesheet" href="{{ "/css/perfect-scrollbar-0.4.5.min.css" | prepend: site.url }}">
        <link rel="stylesheet" href="{{ "/css/magnific-popup.css" | prepend: site.url }}">
        <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.url }}">
        <link id="theme-style" rel="stylesheet" href="{{ "/css/styles/default.css" | prepend: site.url }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



        
        <!--/CSS styles-->
        <!--Javascript files-->
        <script type="text/javascript" src="{{ "/js/jquery-1.10.2.js" | prepend: site.url }}"></script>
        <script type="text/javascript" src="{{ "/js/TweenMax.min.js" | prepend: site.url }}"></script>
        <script type="text/javascript" src="{{ "/js/jquery.touchSwipe.min.js" | prepend: site.url }}"></script>
        <script type="text/javascript" src="{{ "/js/jquery.carouFredSel-6.2.1-packed.js" | prepend: site.url }}"></script>        
        <script type="text/javascript" src="{{ "/js/modernizr.custom.63321.js" | prepend: site.url }}"></script>
        <script type="text/javascript" src="{{ "/js/jquery.dropdownit.js" | prepend: site.url }}"></script>
        <script type="text/javascript" src="{{ "/js/jquery.stellar.min.js" | prepend: site.url }}"></script>
        <script type="text/javascript" src="{{ "/js/ScrollToPlugin.min.js" | prepend: site.url }}"></script>
        <script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.url }}"></script>
        <script type="text/javascript" src="{{ "/js/jquery.mixitup.min.js" | prepend: site.url }}"></script>
        <script type="text/javascript" src="{{ "/js/masonry.min.js" | prepend: site.url }}"></script>
        <script type="text/javascript" src="{{ "/js/perfect-scrollbar-0.4.5.with-mousewheel.min.js" | prepend: site.url }}"></script>
        <script type="text/javascript" src="{{ "/js/magnific-popup.js" | prepend: site.url }}"></script>
        <script type="text/javascript" src="{{ "/js/custom.js" | prepend: site.url }}"></script>

        <!--/Javascript files-->

    </head>
    <body>
