a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

.container {
  display: grid;
  align-items: center; 
  grid-template-columns: 0.5fr 1fr;
  column-gap: 2px;
 }
 
 img {
   max-width: 100%;
   max-height:100%;   
 }
 
 .text {
  font-family: 'Computer Modern Sans';
  font-size: 15px;
  padding: 0px 0px 0px 20px;
  word-spacing: -2px;
 }

body,
td,
th,
tr,
p,
a {
  font-family: 'Computer Modern Sans';
  font-size: 14px;
  word-spacing: -2px;
}

strong {
  font-family: 'Computer Modern Sans';
  font-size: 15px;
}

heading {
  font-family: 'Computer Modern Sans';
  font-size: 25px;
  font-weight: 1000;
}

papertitle {
  font-family: 'Computer Modern Sans';
  font-size: 18px;
  word-spacing: -2px;
  font-weight: 700;  
}

name {
  font-family: 'Computer Modern Sans';
  font-size: 40px;
  font-weight: 1000;
  word-spacing: -2px;
}

authors {
  font-family: 'Computer Modern Sans';
  font-size: 15px;
  font-weight: 1000;
  word-spacing: -2px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}
